div.main__container {
    width: 100%;
    height: 100%;

    padding-left: 5rem;

    header.journal__header {
        justify-content: space-between;
        align-items: center;

        font-size: 3rem;

        padding: 1rem 3rem;
        margin-top: 3.7rem;
        margin-bottom: 1rem;
    }

    section.journal__display {

        div.journal__item {
            width: 100%;

            padding: 1rem 0;

            border-bottom: 1px solid var(--clr-teaclear);

            color: var(--clr-tea);

            transition: var(--trans);

            cursor: pointer;

            &:first-child {
                border-top: 1px solid var(--clr-teaclear);
            }

            div.journal__options {
                width: 5%;

                justify-content: space-evenly;

                display: none;

                button i {
                    color: var(--clr-teaclear);
                }

                button.edit i:hover {
                    color: var(--clr-tea);
                }

                button.delete i:hover {
                    color: var(--clr-red);
                }
            }

            div.journal__preview {
                width: 100%;

                grid-template-columns: 20% 65% 15%;

                text-align: center;

                align-items: center;

                small {
                    font-size: .6rem;
                }
            }

            
            &:hover div.journal__options {
                display: flex;

                transition: var(--trans);
            }

            &:hover {
                background-color: var(--clr-teaclear);
                color: var(--clr-white);
            }
        }
    }
}